<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="collectionName">FileManage</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/${collectionName}.log"
			filePattern="logs/${collectionName}-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d [%t] %-5p [%c] - %m%n</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="org.apache.log4j.xml" level="info" />
		<!-- project default level -->
		<logger name="com.fileManagement.service" level="debug" />
		<logger name="org.springframework" level="info" />

		<!--log4jdbc -->
		<logger name="jdbc.sqltiming" level="debug" />
		<logger name="jdbc.sqlonly" level="OFF" />
		<logger name="jdbc.audit" level="OFF" />
		<logger name="jdbc.resultset" level="OFF" />
		<logger name="jdbc.connection" level="OFF" />
		<logger name="jdbc.resultsettable" level="OFF" />
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>